/* Just for reference,
 * Not used in this project */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background-color: #0f6e5c00;
}
body {
    font-family: urbanist, sans-serif;
    font-size: larger;
    background-color: #111;
    background: linear-gradient(270deg, rgba(16,16,16,1) 0%, rgba(33,13,73,1) 100%);
    color: #fff;
}

h1 {
    padding: 20px;
    font-size: 100px;
    background-color: var(--background-color);
    margin: 0;
}
nav {
    background-color: var(--background-color);
    color: #fff;
    padding: 20px;
}
nav ul {
    background-color: var(--background-color);
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    background-color: var(--background-color);
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--background-color);
}
#breadcrumbs {
    border-radius: 15px 5px;
    padding: 5px 15px;
    width: fit-content;
    background-color: rgba(143, 133, 148, 0.369);
}
a {
    color: #00ff80;
    text-decoration: none;
}
.gradient-text {
    background: linear-gradient(100deg, #00ff80, #efff78);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}