/* 
STYLESHEET 
<link rel="stylesheet" href="stylesheet.css">
*/
body {
    font-family: urbanist, sans-serif;
    font-size: larger;
    background-color: #111;
    background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgb(116, 245, 166) 100%);
    color: #fff;
}
div {
    padding: 10px;
    border-radius: 7px;
    font-size: 1.2em;
}
#🎁 {
    padding: 10px;
}
h1 a {
    display: flex;
    align-items: center;
    font-size: 3vw;
    color: black;
    text-decoration: none;
    padding: 1vw 2vw;
    width: fit-content;
    height: fit-content;
    background-color: rgba(5, 27, 22, 0.2);
    background-blend-mode: multiply;
    border-radius: 20px;
}
a {
    position: relative;
    margin-left: 10px;
    text-decoration: none;
}
label,
button {
    display: block;
    margin-top: 12px;
    margin-bottom: 3px;
    border: none;
    cursor: pointer;
}
input,
textarea,
select,
button {
    background-color: rgb(167, 231, 74);
    font-family: "Rubik", sans-serif;
    color: black;
    padding: 4px;
    border: none;
    border-radius: 20px;
}
button:hover {
    box-shadow: 0px 0px 4px gray;
}